.container {
width: 1200 px;
margin: 0 auto;
}
.heading {
color: dark-blue;
}
.first, .second, .third {
font-size: 18px;
padding: 25px;
}
.first {
color: green;
}
.second {
color: orange;
}
.third {
color: red;
}
